# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node Modules
node_modules/

# Vite build output
dist/

# Env files
.env
.env.*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS system files
.DS_Store

# TypeScript
*.tsbuildinfo

# Optional: Cache and output files
.cache/
out/

# Next.js/Vercel
.next/
.vercel/

# Storybook
.storybook-out/

# Lint and formatting
eslintcache
prettier.log
